/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #50613f;
  background-color: rgb(243, 239, 231);
  font-family: 'Krub', sans-serif;
}

.container-fluid {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

h1 {
  font-family: 'Neonderthaw', cursive;
  text-shadow: 2px 2px 2px white;
  font-size: 6rem;
  margin: 0;
}
h3,
p {
  margin: 5px auto;
  padding: 0;
}
p {
  font-size: 0.85rem;
}
input {
  margin: 5px;
  width: 300px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  background: url('https://images.unsplash.com/photo-1566146991394-b09a95e80d17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 0;
  padding: 0;
}
.hero-tagline {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 2px #50613f;
}
.add-item-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-items: center;
  margin: 20px auto 20px;
}

.items-container {
  display: flex;
  justify-content: space-around;
}
.single-item-container {
  background: white;
  width: 280px;
}
.item-img {
  display: block;
  margin: 20px auto 10px;
  width: 230px;
  height: 200px;
}

.updateBtn,
.deleteBtn {
  margin: 10px 10px 20px;
}
